body{
    background-image: url(../img/imgfundo/img002.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
.container {
    margin-top: 70px;
    text-align: center;
    margin-bottom: 50px;

}
.txtf{
    margin-bottom: 10px;
}
.footer {
    margin-top: 20px;
    float: left;
    width: 100%;
    height: auto;
    background-color: rgb(34, 33, 33);
    color: aliceblue;
    text-align: center;
    padding: 30px;
    font-size: max(10px, 1.1vw);
    /*position: fixed;
            bottom:0;*/
}
aside{
    margin-top: 40px;
    padding: 5px;
    width: 30%;
    background-color: rgba(21, 0, 71, 0.582);
    border: 3px solid rgba(47, 0, 134, 0.322);
    border-radius: 20px;
    color: rgb(236, 164, 9);
    font-size: max(2px, 1.0vw);
}
.icon {
    background-image: url(../img/icon4.png);
    background-position: center center;
    width: 60px;
    height: 60px;
    border: 0px;
}
button{
    width: auto;
    height: 80px;
}
.infoajuda{
    float: right;
    padding: 5px;
    width: 30%;
    background-color: rgba(34, 33, 33, 0.616);
    color: rgb(255, 240, 172);
    font-size: max(15px, 1.2vw);
    border-radius: 5px;
    text-align: center;
    margin-top: 40px;
    margin-left: 45%;
    transform: translateX(-40%);
    
}


.insta{
    margin-top: 1px;
    margin-bottom: 1px;
}

#faq1{
    margin-top: 25px;
    width: 80%;
   
}
.faq1{
        font-size: max(12px, 1.5vw);

}
.seta{
    float: right;
}
.cx_p{
    margin-left: 45%;
    transform: translateX(-40%);
}